*{
    margin: 0;padding: 0;box-sizing: border-box;
}

body{
  background-color: #111827;
  color: white;
}
.ul1{
    margin-top: 2vh;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 2vw;
}   
a{
    text-decoration: none;
    color: white;
}
.li1{
    background-color: #6464e0;
    border-radius: 15px;
    padding: 0.8vh 0.5vw;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.two{
    display: grid;
  grid-template-columns: auto auto;
      
}
footer{
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ul2{
    margin-top: 1vh;
    display: flex;
    list-style: none;
    gap: 1vw;

}
.one{
    display: flex;
    align-items: center;
}
.img1{
    height: 40vh;
}
.img2{
    height: 4.5vh;
    margin-right: 0.5vw;
}
.img3{
    height:17vh
    
}
.img4{
    height: 4vh;
}
.imgH{
    height: 4vh;
   visibility: hidden;
}
.span3{
    color: #c5c559;
}
.div1{
    display: flex;
}
p{
    text-align: center;
}
h3{
    font-size: 1.5em;
    text-decoration: underline #0000ff;
}
h4{
    font-size: 1.5em;
    text-decoration: underline #0000ff;

}
h1{
    font-size: 2em;
    margin-right: 2vw;
}
@media screen and (max-width:940px) {
   .ul1{
    display: none;
   }
   .imgH{
     visibility: visible;
     margin-top: 1.5vh;
     margin-left: 1.5vw;
        
   }
   .two{
    display: grid;
  grid-template-columns: auto;
      
}
.one{
    flex-direction: column;
}
.div1{
    flex-direction: column;
   align-items: center;
  
}
.img2{
   height: 2vh;
    width: 4vw;
   
}
.span1{
    font-size: 0.7em;
  
   
}
.span2{
    font-size: 1em;
}
.span3{
    font-size: 0.7em;
   
}
h1{
    text-align: center;
}
}

@media screen and (max-width:528px) {
    .img1{
        height: 25vh;
    }
    
}